# User
PUID=1000
PGID=1000
TZ=America/New_York

# Directories
DATA_DIR=/srv/homelab/data
CONFIG_DIR=/srv/homelab/config
MEDIA_DIR=/DATA/Media
DOWNLOADS_DIR=/DATA/Media/Downloads

# Networks
PROXY_NETWORK=proxy

# Secrets
CLOUDFLARE_API_TOKEN=
