ROOT_DOMAIN=example.com

# User
PUID=1000
PGID=1000
TZ=America/New_York

# Host paths
DOCKER_DIR=/home/user/homelab/docker
SRV=/srv/homelab

CONFIG_DIR=${SRV}/config
DATA_DIR=${SRV}/data
CACHE_DIR=${SRV}/cache
PHOTOS_DIR=${SRV}/photos
DATABASE_DIR=${SRV}/databases

# Media paths
MEDIA_DIR=/DATA/Media

MOVIES_DIR=${MEDIA_DIR}/movies
TV_DIR=${MEDIA_DIR}/tv
AUDIOBOOKS_DIR=${MEDIA_DIR}/audiobooks
DOWNLOADS_DIR=${MEDIA_DIR}/downloads

# Secrets
CF_API_TOKEN=
