(common) {
    encode zstd gzip
    header {
        -Server
        Strict-Transport-Security "max-age=31536000"
    }
}

*.lan.notcaste.com, *.ts.notcaste.com {
    import common

    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    @share host share.lan.notcaste.com share.ts.notcaste.com
    handle @share {
        reverse_proxy pingvin-share-x:3000
    }

    # cualquier otro nombre: cortar la conexión
    handle {
        abort
    }
}
