# Snippet global de configuración
(common) {
    encode zstd gzip
    header {
        -Server
        Strict-Transport-Security "max-age=3600"
    }
}

# Snippet para definir aplicaciones
# {args[0]} = subdominio de la app
# {args[1]} = destino del reverse proxy
(app_route) {
    @{args[0]} host {args[0]}.lan.{$ROOT_DOMAIN} {args[0]}.ts.{$ROOT_DOMAIN}
    handle @{args[0]} {
        reverse_proxy {args[1]}
    }
}

# Wildcard block para los subdominios
*.lan.{$ROOT_DOMAIN}, *.ts.{$ROOT_DOMAIN} {
    import common

    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

    # Declaración de los servicios
    import app_route dockge dockge:5001
    import app_route jellyfin jellyfin:8096
    import app_route share pingvin-share-x:3000

    # Cualquier otro subdominio no declarado se aborta
    handle {
        abort
    }
}
